#bg {
	background-color: #92c2cc;
	align-content: center;
	width: 100%;
	height: 100%;
	padding-top: 3%;
}
.welcome{
	font-family: monospace;
	font-weight: bold;
	font-size: 30px;
	margin-top: 20%;
	margin-left: 35%;
}
#box{
	width: 50%;
	height: 50%;
	background-color: #067d93;
	border: 3px;
	align-self: center;
	margin-left: 23%;
	margin-top: 15%;
}
.inputName{
	height: 30px;
}
.optext{
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.textbox{
	background-color: palegreen;
	border: none;
	border-radius: 5px;
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	margin-left:10%;
	height: 30px;
	width: 400px;
}
.btn{
	background-color: palegreen;
	border: none;
	padding: 5px;
	border-radius: 5px;
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
}






@media (min-width: 425px){
	#bg {
	background-color: #92c2cc;
	align-content: center;
	width: 100%;
	height: 100%;
	padding-top: 3%;
}
#welcome{
	font-family: monospace;
	font-weight: bold;
	font-size: 5em;
	margin-top: 1%;
	text-align: center;
	
}
#messages{
	font-family: monospace;
	font-weight: bold;
	font-size: 3em;
}
#box{
	width: 50%;
	height: 50%;
	background-color: #067d93;
	border: 3px;
	align-self: center;
	margin-left: 17%;
	margin-top: 12%;
	padding-right: 5%;
	padding-left: 5%;
}
.inputName{
	height: 15vw;
}
.optext{
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
.textbox{
	background-color: palegreen;
	border: none;
	border-radius: 5px;
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 2em;
	margin-left:1%;
	height: 10vw;
	width: 40vw;
}
.btn{
	background-color: palegreen;
	border: none;
	padding: 2vw;
	border-radius: 5px;
	color:black;
	font-family: monospace;
	font-weight: bold;
	font-size: 2em;
	height: 10vw;
	width: 13vw;
	margin-left:2%;
}
}